/* XXX include dyslexic stylesheets! */

/** Resets **/
*, body, h1, h2, h3, h4, h5, h6 { margin: 0; }

/** Fonts **/
html, input, textarea { font-size: 11pt; line-height: 1.25; font-family: Arial; word-spacing: -0.1em; }
header, h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', Arial;  }
a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }

/** Header sizing **/
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

li { margin-bottom: 10px; }

/** Layout **/
.content { width: 980px; margin: 0 auto; }

p, ul, ol { margin-bottom: 1em; }
h2 + ol, h3 + ol, h4 + ol, h2 + ul, h3 + ul, h4 + ul { margin-top: 1em; }

.nopadd li { margin: 0; }

/** Table of contents **/
.toc { border: 1px solid #ccc; width: auto; float: right; font-size: 90%; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-left: 20px; }
.toc li { margin: 0; }
.toc b { display: block; margin-bottom: 5px; margin-left: -20px; font-size: 110%; }

/** Tables **/
table { margin: 0; padding: 0; border-collapse: collapse; }
tr, th, td { border: 1px solid #ccc; margin: 0; padding: 2px 6px; }
th { background-color: #eee; }

/** Colours **/
html { background-color: #eee; color: #222; }
header { border-bottom: 4px solid black; background-color: darkseagreen; padding-left: 10px; box-shadow: 0 0 20px #ccc; padding-top: 5px; }
header .about { font-size: 120%; margin: 0 0 10px 0; }

/** Message box */
p.msg { font-weight: bold; text-align: center; font-size: 120%; width: 980px; }
p.msg span { background-color: #fff; border-radius: 5px; padding: 2px 10px; }

/** Sections are used to contain page content */
section { float: left; background-color: white; padding: 10px 15px; box-shadow: 0 0 20px #ccc; margin-bottom: 2em; }
section .sublinks { margin: -18px 0 0 0; text-align: right; }

section.text { float: none; width: 40em; margin: 0 auto; }

/** Front page: formatting **/
#index section h2 { text-align: center; letter-spacing: 2px; }
#index #news { width: 380px; font-size: 90%; }
#index #events { width: 520px; margin-left: 20px; }

/*<< total width = 380 + 520 + 20 + 4x padding (15) = 980 */

/** Events */
#events h2, #news h2 { font-size: 100%; }

#events h3 { letter-spacing: 1px; font-weight: normal;
	border-bottom: 1px solid black;
	clear: both;
	margin-bottom: 0.5em; margin-top: 0.5em; padding: 0; }

.event { margin-bottom: 1em; }
.event span { display: block; }
.event .time { float: left; }
.event .title { font-weight: bold; }
.event .location { font-style: italic; margin-bottom: 7px; }
.event .block { margin-left: 3.2em; }
.event .more { text-align: right; }
.event .fb { border: 1px solid #666; border-radius: 3px; background-color: #3B5998; color: #eee; padding: 0px 6px; }
.event .fb:hover { text-decoration: none; background-color: #7C90BA; }	

/** Admin controls **/

.admin { display: block; margin-top: 10px; }
.admin form { display: inline; clear: both; }
.admin p { display: inline-block; }
.admin input, .admin a { display: inline-block; border: none; background-color: white; color: black; text-align: center; float: left; padding: 0 10px; margin: 0; margin-bottom: 15px; }
.admin input:hover { text-decoration: underline; cursor: pointer; }
.event+* { clear: both; }

/** Posts **/
.post { margin: 1em 0 1em 0; clear: both; }
.post { margin-top: 0.5em; margin-bottom: 1.5em; }
.post h4 { font-size: 18px; font-weight: 700; margin-bottom: 2px; }
.post .date { font-size: 75%; margin-top: 0.5em; text-align: right; clear: both; }

.post p { margin: 0; }

.post .more { font-style: italic; }
.post img { float: right; padding: 1px 2px 2px 10px; }

/********/

/** Admin pages **/
/* Login */
#login input { display: block; margin: 10px 0; padding: 5px; }
#login input[type="submit"] { font-size: 120%; font-weight: bold; }

/* Dashboard */
#dashboard h2 { margin-bottom: 10px; }
#dashboard h3 { margin-bottom: 5px; }

/** Venue pages **/
/* Display */
#venue .info { margin-top: 1em; }

/** Event listing pages **/
/* Simple listing */
#events-simple h4 { margin: 0; padding: 0; }
#events-simple .date { display: block; clear: both; font-size: 110%; margin-top: 1em; margin-bottom: 0.5em; }
#events-simple .time { width: 3em; font-size: 90%; margin: 0 1em; }
#events-simple .e { margin: 0; }
#events-simple .e:hover { background-color: #eee; cursor: pointer; }
