body { width: 100%; *zoom: 1; }
body:before, body:after { content: ""; display: table; }
body:after { clear: both; }

/** Resets **/
*, body, h1, h2, h3, h4, h5, h6 { margin: 0; }

/** Fonts **/
html, input, textarea { font-size: 14px; line-height: 1.3; font-family: "Helvetica Neue", Helvetica, Arial; word-spacing: -0.1em; }

header, h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', Arial; line-height: 1.3; }

a { text-decoration: none; color: #2244f3; }

a:hover { text-decoration: none; background: #ddd; }

h1 { font-size: 32px; }

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h4 { font-size: 16px; }

li { margin-bottom: 10px; }

p, ul, ol { margin-bottom: 1em; }

h2 + ol, h3 + ol, h4 + ol, h2 + ul, h3 + ul, h4 + ul { margin-top: 1em; }

.nopadd li { margin: 0; }

/** Tables **/
table { margin: 0; padding: 0; border-collapse: collapse; }

tr, th, td { border: 1px solid #ccc; margin: 0; padding: 2px 6px; }

th { background-color: #eee; }

/** Forms **/
form { /* Alignment */ }
form .left { width: 250px; float: left; text-align: right; }
form label.left, form .left label { font-weight: bold; }
form p.left, form .left p { font-size: 80%; font-style: italic; margin: 0; }
form .right, form label.error { width: 430px; float: right; }
form .error { color: red; }
form label.error { font-size: 80%; }

fieldset { border: 0; margin: 0; padding: 0; padding: 10px 0; }

input { border: none; border-bottom: 1px solid #ccc; padding: 4px; font-size: inherit; }
input[type='submit'], .admin a { padding: 5px 10px 5px; text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); border: 1px solid #888; border-radius: 5px; color: black; background: #ddd; cursor: pointer; }
input[type='submit']:active, .admin a:active { -webkit-transform: translateY(1px); -ms-transform: translateY(1px); -moz-transform: translateY(1px); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); }

#event_add form, #venue_add form { margin-top: 1em; line-height: 1.5; width: 700px; margin: auto; font-size: 13pt; }
#event_add input[type='submit'], #venue_add input[type='submit'], #event_add .admin a, .admin #event_add a, #venue_add .admin a, .admin #venue_add a { display: block; margin: 1em auto; color: white; background: black; }

/** Colours **/
html { background-color: #eee; color: #222; }

header { border-bottom: 4px solid black; background-color: darkseagreen; padding-left: 10px; box-shadow: 0 0 20px #ccc; padding-top: 5px; }

header .about { font-size: 120%; margin: 0 0 10px 0; }

/** Message box */
p.msg { display: block; width: 40%; left: 30%; top: 30%; position: fixed; background-color: #fff; border: 1px solid black; border-radius: 4px; padding-top: 1em; padding-bottom: 1em; box-shadow: 0 0 1000px 140px white; font-weight: bold; text-align: center; font-size: 120%; }
p.msg img { padding-right: 1em; }

/*** Page layout ***/
.content { max-width: 1008px; margin: auto; }

header .content { padding-left: 10px; }

body.thin .content { max-width: 800px; }

/* Sections are used to contain page content */
section { display: inline; float: left; width: 95.01587%; margin: 0 0.99206%; padding-left: 1.5%; padding-right: 1.5%; background-color: white; margin-bottom: 2em; padding-top: 10px; padding-bottom: 10px; }
@media (min-width: 800px) { section { box-shadow: 0 0 20px #ccc; } }
section .sublinks { margin: -24px 0 0 0; text-align: right; font-size: 90%; line-height: 1.6; }

.event { margin-bottom: 2em; }
.event .title { font-weight: bold; margin-bottom: 7px; }
.event ul { margin-top: 0; }
.event li { padding-left: 4px; margin-bottom: 4px; margin-left: 0; }

.post { margin: 1em 0 1em 0; clear: both; margin-top: 0.5em; margin-bottom: 1.5em; }
.post h4 { font-weight: 700; margin-bottom: 2px; }
.post img { float: right; padding: 1px 2px 2px 10px; }
.post p { margin: 0; }
.post .more { font-style: italic; }
.post .date { margin-bottom: 0.5em; }
.post .date a { color: inherit; }
.post:hover .date a { color: blue; }

.shortpost h4 { font-size: 100%; }

.admin { display: block; margin-top: 10px; }
.admin form { display: inline; clear: both; }
.admin p { display: inline-block; }
.admin input, .admin a { font-size: 17px; display: inline-block; float: left; padding: 0 10px; margin: 0; margin-bottom: 15px; margin-right: 1em; }
.admin :hover { text-decoration: none; }

.toc { border: 1px solid #ccc; width: auto; float: right; font-size: 90%; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-left: 20px; }
.toc li { margin: 0; }
.toc b { display: block; margin-bottom: 5px; margin-left: -20px; font-size: 110%; }

/* Individual pages */
#index h2 { text-align: left; letter-spacing: 2px; font-size: 140%; }
#index #news .sublinks { margin-bottom: 30px; }
@media (min-width: 800px) { #index #news { display: inline; float: left; width: 40.84921%; margin: 0 0.99206%; padding-left: 1.5%; padding-right: 1.5%; }
  #index #events { display: inline; float: left; width: 45.01587%; margin: 0 0.99206%; padding-left: 1.5%; padding-right: 1.5%; margin-left: 5.15873%; } }
@media (max-width: 800px) { #index #events { border-top: 2px solid black; } }
#index #events h3 { font-weight: normal; border-bottom: 1px solid black; clear: both; margin-bottom: 0.5em; margin-top: 0.5em; padding: 0; }
#index #events h3 .daystime { float: right; font-size: 70%; }

#login input { display: block; margin: 10px 0; padding: 5px; }
#login input[type="submit"] { font-size: 120%; font-weight: bold; }

#dashboard h2 { margin-bottom: 10px; }
#dashboard h3 { margin-bottom: 5px; }

#venue .info { margin-top: 1em; }

#event_add, #venue_add { /* Individual fields */ /* Venues */ }
#event_add .count, #venue_add .count { font-size: 80%; text-align: right; }
#event_add .overcount, #venue_add .overcount { color: red; }
#event_add .time, #venue_add .time { width: 3em; }
#event_add .hasDatepicker, #venue_add .hasDatepicker { width: 14em; cursor: pointer; background-image: url(../img/calendar.png); background-repeat: no-repeat; background-position: 98% 50%; }
#event_add .film, #venue_add .film { background-image: url(../img/film.png); background-repeat: no-repeat; background-position: 5px 7px; text-indent: 22px; }
#event_add #venues, #venue_add #venues { margin-bottom: 10px; margin-top: -10px; font-size: 80%; width: 600px; float: right; }
#event_add #venues.empty, #venue_add #venues.empty { color: #bbb; }
#event_add #venues ul, #event_add #venues li, #venue_add #venues ul, #venue_add #venues li { list-style-type: none; padding: 0; margin: 0; }
#event_add #vlist, #venue_add #vlist { height: 104px; border: 1px solid #ccc; border-radius: 4px; }
#event_add #vlist.selected, #venue_add #vlist.selected { color: #bbb; }
#event_add #vlist li, #venue_add #vlist li { width: 289px; float: left; padding: 4px 5px; cursor: pointer; height: 18px; }
#event_add #vlist li.selected, #venue_add #vlist li.selected { background-color: #eee; color: black; }
#event_add #vlist li:hover, #venue_add #vlist li:hover { background-color: #ddd; }

/* Flatten out page on smaller width devices */
@media (max-width: 800px) { section { display: inline; float: left; width: 94%; margin: 0; padding-left: 3%; padding-right: 3%; margin-left: 0; margin-right: 0; } }
