/* XXX include dyslexic stylesheets! */

/** Resets **/
*, body, h1, h2, h3, h4, h5, h6 { margin: 0; }

/** Fonts **/
html, input, textarea { font-size: 11pt; line-height: 1.25; font-family: Arial; word-spacing: -0.1em; }
header, h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', Arial;  }
a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }

/** Header sizing **/
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

li { margin-bottom: 10px; }

/** Layout **/
body { margin: 0 20px; }
body.thin { width: 800px; }
body.wide { width: 980px; }
section { width: 100%; }
header { width: 100%; }

body.wide header { width: 970px; }
body.thin header { width: 820px; }

/** Tables **/
table { margin: 0; padding: 0; border-collapse: collapse; }
tr, th, td { border: 1px solid #ccc; margin: 0; padding: 2px 6px; }
th { background-color: #eee; }

/** Colours **/
html { background-color: #eee; color: #222; }
header { border-bottom: 4px solid black; background-color: darkseagreen; padding-left: 10px; box-shadow: 0 0 20px #ccc; padding-top: 5px; }
header .about { font-size: 120%; margin: 0 0 10px 0; }

/** Message box */
p.msg { font-weight: bold; text-align: center; font-size: 120%; width: 980px; }
p.msg span { background-color: #fff; border-radius: 5px; padding: 2px 10px; }

/** Sections are used to contain page content */
section { float: left; background-color: white; padding: 10px 15px; box-shadow: 0 0 20px #ccc; }
section .sublinks { margin: -18px 0 0 0; text-align: right; }

section.text { float: none; width: 40em; margin: 0 auto; }

/** Front page: formatting **/
#index section h2 { text-align: center; letter-spacing: 2px; }
#index #events { width: 380px; }
#index #news { width: 520px; margin-left: 20px; }

/*<< total width = 380 + 520 + 20 + 4x padding (15) = 980 */

/** Events */
#events h2, #news h2 { font-size: 100%; }

#events h3 { letter-spacing: 1px; font-weight: normal; border-bottom: 1px solid black; margin-bottom: -5px; clear: both; background-color: #dedede; padding: 2px 2px 0 5px; border-radius: 0 10px 0 0; margin-top: 0.5em; }

.event { margin-bottom: 15px; }

.event { margin: 1em 0; clear: both; }
.event p { margin: 0; }

.event .date { }

.event .time, .event .what { display: inline-block; }
.event .time { vertical-align: top; }
.event .what { vertical-align: middle; }

.event .time { margin: 2px 5px 0 5px; text-align: center; float: right; }
.event .n-l { font-size: 26px; line-height: 26px; }
.event .n-s { font-size: 20px; }
.event .ampm { display: block; font-size: 14px; text-transform: uppercase; }

.event .what { font-family: 'Raleway'; width: 300px; }
.event h4 { font-size: 22px; font-weight: normal; }
.event .where { font-style: italic; font-size: 75%; margin-top: 2px; }

.event .desc { clear: both; margin-top: 8px; }

.event .fb { border: 1px solid #666; border-radius: 8px; background-color: #3B5998; color: #eee; padding: 0px 6px; }
.event .fb:hover { text-decoration: none; background-color: #7C90BA; }	

/** Admin controls **/

.admin { display: block; margin-top: 10px; }
.admin form { display: inline; clear: both; }
.admin p { display: inline-block; }
.admin input, .admin a { display: inline-block; border: none; background-color: white; color: black; text-align: center; float: left; padding: 0 10px; margin: 0; margin-bottom: 15px; }
.admin input:hover { text-decoration: underline; cursor: pointer; }
.event+* { clear: both; }

/** Posts **/
.post { margin: 1em 0 1em 0; clear: both; }
.post { margin-top: 0.5em; margin-bottom: 1.5em; }
.post h4 { font-size: 18px; font-weight: 700; margin-bottom: 2px; }
.post .date { font-size: 75%; margin-top: 0.5em; text-align: right; clear: both; }

.post p { margin: 0; }

.post .more { font-style: italic; }
.post img { float: right; padding: 1px 2px 2px 10px; }

/********/

/** Admin pages **/
/* Login */
#login input { display: block; margin: 10px 0; padding: 5px; }
#login input[type="submit"] { font-size: 120%; font-weight: bold; }

/* Dashboard */
#dashboard h2 { margin-bottom: 10px; }
#dashboard h3 { margin-bottom: 5px; }

/** Venue pages **/
/* Display */
#venue .info { margin-top: 1em; }

/** Event listing pages **/
/* Simple listing */
#events-simple h4 { margin: 0; padding: 0; }
#events-simple .date { display: block; clear: both; font-size: 110%; margin-top: 1em; margin-bottom: 0.5em; }
#events-simple .time { width: 3em; font-size: 90%; margin: 0 1em; }
#events-simple .e { margin: 0; }
#events-simple .e:hover { background-color: #eee; cursor: pointer; }
