form { margin-top: 1em; }
form, form input { font-size: 13pt; }
fieldset { border: 0; margin: 0; padding: 0; padding: 10px 0; border-bottom: 1px solid #ddd; }
label { display: inline-block; text-align: right; vertical-align: top; padding: 4px; font-weight: bold; }
input { border: none; border-bottom: 1px solid #ccc; padding: 4px; }

form .desc { font-size: 80%; font-style: italic; text-align: right; margin: 0; }

form div.g { display: inline-block; vertical-align: top; }

/* Width */
form { width: 600px; margin: auto; }
textarea, input[type="text"] { width: 330px; }
label, form div.g, form p { width: 250px; }

/* Individual fields */
#title { font-family: 'Raleway'; font-weight: bold; font-size: 120%; }
#ftitle { vertical-align: middle; }
#location { font-family: 'Raleway'; font-style: italic; font-size: 90%; }
#datepicker { margin-left: 260px; margin-top: 10px; }

.film { background-image: url(../img/film.png); background-repeat: no-repeat; background-position: 5px 7px; text-indent: 22px; }

/* Venues */
#venues ul, #venues li { list-style-type: none; padding: 0; margin: 0; }
#venues.empty { color: #bbb; }

#vlist { height: 104px; border: 1px solid #ccc; border-radius: 4px; }
#vlist.selected { color: #bbb; }

#vlist li { font-size: 80%; width: 289px; float: left; padding: 4px 5px; cursor: pointer; height: 18px; }
#vlist li.selected { background-color: #eee; color: black; }
#vlist li:hover { background-color: #ddd; }
