<div class="event">

<h4 class="title">
	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"><a href="{{@event->url}}" target="_blank"></F3:check>
	{{@event->title}}
	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"></a></F3:check>
	<F3:check if="{{@event->film}}"><i class="fa fa-film" style="padding-left: 0.5em;"></i> </F3:check>
</h4>

<ul class="fa-ul">
	<li class="time"><i class="fa fa-li fa-clock-o"></i> 

<check if="{{@event->multiday()}}">
<true>Starts <b>{{@event->startdt->format("l j F")}}</b> and ends <b>{{@event->enddt->format("l j F")}}</b>.</true>
<false>
	<check if="{{@event->startdt->format('i') != '00'}}">
		<true>{{@event->startdt->format("g:ia, l jS F")}}</true>
		<false>{{@event->startdt->format("ga, l jS F")}}</false>
	</check>
</false>
</check>

	<li class="location"><i class="fa fa-li fa-map-marker"></i>

<check if="{{@event->location->short()}} == ''">
<true><span class="error">Missing<span></true>
<false>
	<F3:check if="{{@event->location->in_db}}">
		<true><a href="/venue/{{@event->location->id}}">{{@event->location->short()}}</a></true>
		<false>{{@event->location->short()}}</false>
	</F3:check>
</false>
</check>

<check if="{{@event->host}}">
	<li><i class="fa fa-li fa-group"></i> Hosted by <b>{{@event->host}}</b>
</check>

<check if="{{@event->url}}&&{{@facebook(@event->url)}}">
	<li><i class="fa fa-li fa-facebook"></i> <a target="_blank" href="{{@event->url}}">Facebook event</a>
</check>

	<li><i class="fa fa-li fa-gbp"></i>
<check if="{{@event->cost}}">
<false>Free</false>
<true>{{@event->cost}}</true>
</check>

	<li class="description"><i class="fa fa-li fa-align-left fa-flip-vertical"></i>
<check if="{{@event->blurb}}">
<false><span class="error">Not provided<span></false>
<true>{{@event->blurb_as_html()}}</true>
</check>

<check if="{{isset(@dupes)}}">
	<li class="dupes"><i class="fa fa-li fa-warning error"></i> Potential duplicates:

	<repeat group="{{@dupes}}" value="{{@e}}">
		<br><b><a href="/event/{{@e->id}}">{{@e->title}}</a></b> @ {{@e->startdt->format("g:ia")}}
	</repeat>
</check>

</ol>

<F3:include href="_event_admin.html" />
</div>
