<F3:check if="{{isset(@admin)}}">
<div class="admin">
	<p><a href="{{@baseurl}}/event/{{@event->id}}/edit"><i class="fa fa-pencil"></i> Edit</a>
	<F3:check if="{{@event->state=='approved'}}">
		<F3:true><form action="{{@baseurl}}/event/{{@event->id}}/unapprove" method="POST"><button class="ajax" type="submit"><i class="fa fa-thumbs-o-down"></i> Unapprove</button></form></F3:true>
		<F3:false><form action="{{@baseurl}}/event/{{@event->id}}/approve" method="POST"><button class="ajax" type="submit"><i class="fa fa-thumbs-o-up"></i> Approve</button></form></F3:false>
	</F3:check>
	<form action="{{@baseurl}}/event/{{@event->id}}/delete" method="POST"><button class="ajax" type="submit"><i class="fa fa-trash-o"></i> Delete</button></form>
</div>
</F3:check>