<div class="event">

<h4 class="title">
	<F3:check if="{{@event->film}}">Film showing: </F3:check>
	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"><a href="{{@event->url}}"></F3:check>
	{{@event->title}}
	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"></a></F3:check>
</h4>

<ul class="fa-ul">
	<li class="time"><i class="fa fa-li fa-clock-o"></i> 

<check if="{{@event->multiday()}}">
<true>Starts <b>{{@event->startdt->format("l j F")}}</b> and ends <b>{{@event->enddt->format("l j F")}}</b>.</true>
<false>
	<check if="{{@event->startdt->format('i') != '00'}}">
		<true>{{@event->startdt->format("g:ia, l jS F")}}</true>
		<false>{{@event->startdt->format("ga, l jS F")}}</false>
	</check>
</false>
</check>

	<li class="location"><i class="fa fa-li fa-map-marker"></i>
<F3:check if="{{@event->location->in_db}}">
<true><a href="/venue/{{@event->location->id}}">{{@event->location->short()}}</a></true>
<false>{{@event->location->short()}}</false>
</F3:check>

<check if="{{@event->url}}&&{{@facebook(@event->url)}}">
	<li class="facebook"><i class="fa fa-li fa-facebook"></i><a href="{{@event->url}}">Facebook event</a>
</check>

	<li class="cost"><i class="fa fa-li fa-gbp"></i>
<check if="{{@event->cost}}">
<false>Free</false>
<true>{{@event->cost}}</true>
</check>

	<li class="description"><i class="fa fa-li fa-align-left fa-flip-vertical"></i>{{@event->blurb}}
</ol>

<F3:include href="_event_admin.html" />
</div>