<header>
<div class="content">
<h1><a href="/"><img src="/img/header.png" alt="Echo"></a></h1>
<p class="about">ECHO is a left &amp; liberation news &amp; events site for Manchester.  <a href="/about">read more</a></p>
</div>
</header>

<F3:check if="{{isset(@message)}}">
<div class="content message">
	<p><i class="fa fa-info-circle" style="margin-right: 0.5em"></i> {{@message | raw}}</p>
</div>

<!-- <img src="/img/cross.png" align="right" onclick="$(this.parentNode).css('display','none')"> -->

</F3:check>

<div class="content">