<!DOCTYPE html>
<title>{{@appname}} :: About Echo</title>
<F3:include href="_stylesheets.html" />

<body class="thin">
<F3:include href="_header.html" />

<section id="about">
<h2>About Echo</h2>

<ul class="toc">
	<b>Table of contents</b>
	<li><a href="#started">Why's it been started?</a></li>
	<li><a href="#included">Who does Echo include?</a></li>
	<li><a href="#addnews">Getting your news appearing on Echo</a></li>
	<li><a href="#embedding">Embedding our calendar</a></li>
	<li><a href="#contact">Contacting us</a></li>
</ul>

<p>Echo is a non-profit political events and news site.  Echo hopes to provide opportunities for struggle against oppression to grow by increasing participation in demonstrations, events, organised groups, and parties.

<p>We're also hoping to make a printed version.

<h3 id="started">Why's it been started?</h3>

<ol>
<li><b>It's important to link up</b>.  It's hard to find out what 'political stuff' is going on right now.  There are so many mailing lists, Facebook groups etc and no reliable way to find that information.  It's much easier for groups to talk to each other if there's a central portal, and linking up makes our movements stronger and makes it easier for new people to find out what's going on.

<li><b>To avoid corporate dominance</b>.  The Manchester political community is heavily dependent on Facebook to spread information and ideas.  Facebook is highly individualistic, has no real tools for movement building and has a terrible track record on privacy.  Echo is built using open-source software, avoids logging information about you and hopes to be responsive to the community it serves.
</ol>

<h3 id="included">Who does Echo include?</h3>

<p>Echo has an anti-authoritarian and anti-oppression bent, which means that we primarily want to focus on groups and events that fall into the following categories:

<ul class="nopadd">
<li>anti-racism
<li>feminism
<li>queer
<li>libertarian communism
<li>anarchism
<li>anti-capitalism
<li>environmentalism
<li>animal rights
<li>progressive single issue campaigns (e.g. against the arms trade)
</ul>

<p>This isn't exhaustive, though, so if you have something that you think fits vaguely in this area, give it a go.  Also, if you have a problem with an event listed on the site, please contact us.

<p>We don't want to list every group's regular meetings here because they are often inaccessible to newcomers.  Instead it would be great if groups wanted to put together introductory events periodically!

<h3 id="addnews">Getting your news appearing on Echo</h3>

<p>If you want your website's news to appear here and it fits with the above ethos then please get in touch.  If you're using a platform like Drupal or WordPress for your website then it will definitely be technically possible for us to sync it across.  For other sites, we may or may not be able to do it.  Either way, get in touch (email address below) and we'll work it out.

<h3 id="embedding">Embedding our calendar</h3>

<p>We're working on how to get Echo's events calendar appearing on other sites, but we've not got there yet!  Please bear with us and we'll have a way to embed events soon.

<h3 id="contact">Contacting us</h3>

<p>To contact us, email support [at] echomanchester.net.

</section>

<F3:include href="_footer.html" />