<!DOCTYPE html>
<title>{{@appname}} :: Administrator dashboard</title>
<F3:include href="_stylesheets.html" />
<style>
#dashboard input[type="number"] { width: 2em; padding-left: 10px; }
</style>

<body class="thin">
<F3:include href="_header.html" />

<section id="dashboard">
<h2>Dashboard</h2>

<h3>Events</h3>
<ul>
<li>{{@events.submitted}} <a href="/events/unvalidated">submitted but not validated events</a>
<li>{{@events.validated}} <a href="/events/unapproved">validated but unapproved events</a>
<li>{{@events.approved}} approved events
<ul>
<li>With {{@events.old}} of those in the past
</ul>
<li><form action="/events/purge" method="POST"><b>Purge events</b> older than <input type="number" name="months"> months <input type="submit" value="Purge"></form>
</ul>

<h3>Posts</h3>
<ul>
<li><a href="/feeds">{{@feeds.feeds}} feeds</a>
<li>{{@feeds.posts}} posts
<ul>
	<li><a href="/posts/eventish">{{@feeds.posts_eventish}} which might be events</a>
	<li>{{@feeds.old_posts}} over two months old
</ul>
<li><form action="/posts/purge" method="POST"><b>Purge posts</b> older than <input type="number" name="months"> months <input type="submit" value="Purge"></form>
</ul>

</section>

<F3:include href="_footer.html" />
