<!DOCTYPE html>
<title>{{@appname}} :: Administrator dashboard</title>
<F3:include href="_stylesheets.html" />

<body class="thin">
<F3:include href="_header.html" />

<section id="dashboard">
<h2>Dashboard</h2>

<h3>Events</h3>
<ul>
<li>{{@events.submitted}} submitted but not validated events
<li>{{@events.validated}} <a href="{{@baseurl}}/events/unapproved">validated but unapproved events</a>
<li>{{@events.approved}} approved events
</ul>

<h3>Posts</h3>
<ul>
<li>{{@feeds.feeds}} feeds
<li>{{@feeds.posts}} posts
<ul>
<li>with {{@feeds.old_posts}} of those posts over 1 month old
</ul>
</ul>

</section>

<F3:include href="_footer.html" />
