<!DOCTYPE html>
<title>{{@appname}} :: Administrator login</title>
<F3:include href="_stylesheets.html" />

<body class="thin">
<F3:include href="_header.html" />

<section id="login">
<h2>Administrator login</h2>

<form action="{{@baseurl}}/admin/login" method="POST">

<input type="email" placeholder="Email" id="email" name="email">
<input type="password" placeholder="Password" id="password" name="password">

<!-- XXX add something to stop replay attacks -->

<input type="submit" value="Login">

</form>

<F3:include href="_footer.html" />
