<!DOCTYPE html>
<title>{{@appname}} :: Administrator dashboard</title>
<F3:include href="_stylesheets.html" />
<style>
#dashboard input[type="number"] { width: 2em; padding-left: 10px; }
</style>

<body class="thin">
<F3:include href="_header.html" />

<section id="dashboard">
<h2>Dashboard</h2>

<h3>Events</h3>
<ul>
<li>{{@events.submitted}} <a href="/events/unapproved">unapproved events</a>
<li>{{@events.new}} approved events coming up ({{@events.approved}} total)
<li><form action="/events/purge" method="POST"><b>Purge events</b> older than <input type="number" name="months"> months <input type="submit" value="Purge"></form>
<li><a href='javascript:(function(){var makeUrl=function(base,params)
{var url=base+"?";for(var prop in params)url+=prop+"="+encodeURIComponent(params[prop])
+"&";return url;};d=document;d.qs=d.querySelector;d.qsa=d.querySelectorAll;var c=d.qs(".see_more_link");
if(c)c.click();var dt=new Date(d.qs("[itemprop=startDate]").getAttribute("content"));
d.location.href=makeUrl("https://echomanchester.net/event/add",{title:d.qs("#event_header_info a").innerText,
location:d.qsa("._5xhk")[1].innerText+", "+d.qsa("._5xhp")[1].innerText,
blurb:d.qs("#event_description").innerText,url:d.location.href,date1:dt.getFullYear()+"-"+dt.getMonth()+"-"
+dt.getDate(),time1:dt.getHours()+":"+dt.getMinutes(),});})();'>Facebook → Echo</a> bookmarklet (drag to your browser bookmark bar and click when you're on a Facebook event to add it to Echo)
</ul>

<h3>Posts</h3>
<ul>
<li><a href="/feeds">{{@feeds.feeds}} feeds</a>
<li>{{@feeds.posts}} posts
<ul>
	<li><a href="/posts/eventish">{{@feeds.posts_eventish}} which might be events</a>
	<li>{{@feeds.old_posts}} over two months old
</ul>
<li><form action="/posts/purge" method="POST"><b>Purge posts</b> older than <input type="number" name="months"> months <input type="submit" value="Purge"></form>
</ul>

</section>

<F3:include href="_footer.html" />
