<!DOCTYPE html>
<title>Echo :: Admin login</title>

<F3:include href="header.html" />

<section id="login">

<h2>Are you an admin or are you an admin?</h2>

<form action="{{@baseurl}}/admin/login" method="POST">

<div><label for="email">Email:</label>
<input type="email" id="email" name="email"></div>

<div><label for="password">Password:</label>
<input type="password" id="password" name="password"></div>

<!-- XXX add something to stop replay attacks -->

<input type="submit" value="Login">

</form>

<F3:include href="footer.html" />
