<!DOCTYPE html>
<title>{{@appname}} :: About Echo</title>
<link rel="stylesheet" href="/css/fullcalendar.css" type="text/css">
<F3:include href="_stylesheets.html" />

<div id="calendar" style="background: white;"></div>

<F3:include href="_footer.html" />

<style>
html { background: white; }
.fc-header tr, .fc-header td { border: none; }

.fc-grid th { text-align: left; padding-left: 2px; }
.fc-header-left { vertical-align: bottom; }
.add { display: inline-block; vertical-align: top; font-size: 1.2rem; text-decoration: none; color: blue; margin-left: 20px; margin-top: 5px; }
.add:hover { text-decoration: underline; background: inherit; }
</style>

<script>
$(document).ready(function() {

	$('#calendar').fullCalendar({
		header: {
			left: '',
			center: 'title',
			right: 'prev,next today',
		},
		timeFormat: 'h(:mm)tt',
		firstDay: 1,

		events: '/json',
		allDayDefault: false,
		weekMode: "liquid",
		eventBackgroundColor: "#eee",
		eventBorderColor: "#ccc",
		eventTextColor: "black",

		eventClick: function(event, jsevent, view) {
			echo.show_event(event.id, jsevent);
			return false;
		},
	});

	$('.fc-header-left').html('<a href="http://echomanchester.net/"><img src="/img/miniecho.png" height=30 title="Powered by Echo Manchester"></a> <a class="add" href="/event/add?embed" target="_parent">+ add an event</a>');

});
</script>
