<h3>{{@day}}</h3>

<F3:repeat group="{{@events}}" value="{{@event}}">

<div class="event">
<div class="time-l">{{
(@event->datetime->format("i") == "00") ?
	@event->datetime->format("ga") :
	@event->datetime->format("g:ia")}}</div>

<div class="what">
<h4 id="{{@event->id}}">{{@event->title}}</h4>
<p class="where">{{@event->location}}</p>
</div>

<p class="desc">{{* <F3:check if="{{@event.facebook_id}}">
<a href="http://facebook.com/events/{{@event.facebook_id}}"><img src="fb.png" alt="Fb"></a>
</F3:check>*}}
{{@event->blurb}}
{{* <F3:check if="{{@event->url}}">
<a href="{{@event->url}}">more info</a>
</F3:check> *}}</p>

</div>

</F3:repeat>

<div class="event">
<div class="time-s">7:30pm</div>

<div class="what">
<h4 id="8">Film showing: The Shock Doctrine and helpers! Long long title helps</h4>
<p class="where">University of Manchester Students' Union</p>
</div>

<p class="desc">
Is austerity really a crisis or capitalism, or part of a pre planned ideology?  Naomi Klein explores the history of <span style="font-family: 'Raleway'">neo-liberalism and the brutal methods used to impose it - as well as it's distastrous outcomes</span>.</p>

</div>