<!DOCTYPE html>
<title>{{@appname}} :: Future events</title>
<F3:include href="_stylesheets.html" />
<F3:include href="_header.html" />

<section id="eventlist">
<h2>Events</h2>
<p class="sublinks"><a href="event/add">add your own event</a>

<div style="max-width: 45em;">
<F3:repeat group="{{@group_events()}}" key="{{@day}}" value="{{@events}}">

<h4 class="date">{{@formatdate(@day, 'l jS')}}</h4>

<F3:repeat group="{{@events}}" value="{{@event}}">
<F3:include href="event_fragment.html" />
</F3:repeat>

</F3:repeat>
</div>
</section>

<F3:include href="_footer.html" />
