<!DOCTYPE html>
<title>{{@appname}} :: Add an event</title>

<F3:include href="_stylesheets.html" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.24.custom.css">

<body class="thin">
<F3:include href="_header.html" />

<section id="event_add">
<h2>Add an event</h2>

<F3:check if="{{isset(@messages)}}">
<ul>
<F3:repeat group="{{@messages}}" value="{{@message}}">
	<li>{{@message}}
</F3:repeat>
</ul>
</F3:check>

<form method="POST" action="?">

<fieldset>
<label class="title" for="title">Event name:</label>
<input class="long required" type="text" name="title" id="title" {{isset(@title)?@value(@title):NULL}}>

<div class="right">
<input type="checkbox" id="film" name="film" {{isset(@film)&&@film?'checked':''}}>
<label for="film">This is a film showing</label>
</div>
</fieldset>

<fieldset>
<i class="icon-big fa fa-clock-o"></i> 
<label class="title" for="date">Time and date:</label>
<div id="start">
Starts <input class="required time" type="text" name="time1" id="time1" {{isset(@time1)?@value(@time1):NULL}} placeholder="time"> on <input class="required" type="text" id="date1" name="date1" placeholder="date" {{isset(@date1)?@value(@date1):NULL}}><br>
</div>
<div id="end" style="display: none;">
Ends <input class="required time" type="text" name="time2" id="time2" {{isset(@time2)?@value(@time2):NULL}} placeholder="time"> on <input class="required" type="text" id="date2" name="date2" placeholder="date" {{isset(@date2)?@value(@date2):NULL}}>
</div>
<div>
<input type="checkbox" id="set_end" name="set_end"> <label for="set_end">Set an end time and date?</label>
</div>
</fieldset>

<fieldset>
<i class="icon-big fa fa-map-marker"></i>
<label class="title" for="location">Location:</label>
<input class="long required" type="text" name="location" id="location" {{isset(@location)?@value(@location):NULL}}>
</fieldset>
</fieldset>

<fieldset>
<i class="icon-big fa fa-gbp"></i>
<label class="title">Price:</label>

<div>
<input type="radio" name="free" id="free" {{isset(@free)&&@free?'checked':''}} value="free"> <label for="free">Free</label><br>
<input type="radio" name="free" id="costbutton" {{isset(@cost)&&@cost?'checked':''}}> <label for="costbutton">It costs</label> <input type="text" name="cost" id="cost" style="width: 220px;" {{isset(@cost)?@value(@cost):NULL}}>
</div>
</fieldset>

<fieldset>
<i class="icon-big fa fa-align-left fa-flip-vertical"></i>

<label class="title" for="blurb">Event description:</label>
<p class="desc">Please include the group organising the event and information about booking if you have to book.<br>
Maximum 120 words.</p>

<textarea class="long required" name="blurb" id="blurb" rows="8">{{isset(@blurb)?@blurb:NULL}}</textarea>
<p class="right count" style="display: none;"><i>Word count:</i> <span id="wordcount">0</span> / 150</p>
</fieldset>

<fieldset>
<i class="icon-big fa fa-link"></i>

<label class="title" for="url">Link to more info:</label>
<input class="long permissive_url" type="url" name="url" id="url" {{isset(@url)?@value(@url):NULL}}>
<p class="desc">Is there somewhere people can go online to get more information, like a blog post or Facebook event?</p>
</fieldset>

<fieldset>
<i class="icon-big fa fa-envelope"></i>
<label class="title" for="email">Your email:</label>
<input class="long required email" type="email" name="email" id="email" {{isset(@email)?@value(@email):NULL}}>
<p class="desc">This is not made public, but we will send you an email so we know you're not a spammer.</p>
</fieldset>

<input type="submit" value="Submit your event!">
</form>
</section>

<F3:include href="_footer.html" />

<script>
$(function() {

// Word count function (not great but accurate enough)
function word_count(s) {
	if (s == "") return 0;
	return (s.match(/ +/g) || []).length + 1
}

// Initialise jQueryUI widgets
function initWidgets() {
	var date_options = {
		dateFormat: "DD d MM yy",
		firstDay: 1,
		minDate: 1,
		maxDate: "+12M",
		numberOfMonths: 3,
	};

	// Start time & date
	$("#date1").datepicker(date_options);
	$("#date2").datepicker(date_options);
}

var validOptions = {
	errorPlacement: function(error, element) {
		if (element.attr("name") == "time1" ||
				element.attr("name") == "date1" ||
				element.attr("name") == "time2" ||
				element.attr("name") == "date2")
			error.insertAfter(element.parent());
		else
			error.insertAfter(element);
	},
	messages: {
		title: "You must provide a title.",
		location: "You must provide a location.",
		blurb: "You must provide a blurb.",
		time1: "You must provide a time.",
		date1: "You must provide a date.",
		time2: "You must provide a time.",
		date2: "You must provide a date.",
		email: {
			required: "You must provide an email",
			email: "This email address is not valid.  Please use a valid address."
		}
	},
	rules: {
		// All other rules are done using classes on the inputs themselves
		cost: {
			required: {
				depends: function(element) {
					return $("#costbutton:checked").length != 0
				}
			}
		},
		blurb: {
			wordcount: 150
		}
	}
};

// Initialise form validation
function initFormValidation() {

	$.validator.addMethod("wordcount", function(value, element, upper) {
		return word_count($(element).val()) <= upper
	}, "Your blurb is over the word limit.");

	$.validator.addMethod("permissive_url", function(value, element) {
		// if no url, don't do anything
		if (value.length == 0) return true;

		// if user has not entered http[s]:// or ftp:// assume they mean http://
		if (!/^(https?|ftp)\:\/\//i.test(value))
			value = 'http://' + value;

		// Chain to the builtin URL validator
		return $.validator.methods.url.call(this, value, element);
	}, "The link is not valid.  Please provide a valid one.");

	$("form").validate(validOptions);
}

function initWordCount() {
	var check = function(e) {
		var wc = word_count($(e.target).val());
		$("#wordcount").text(wc);
		if (wc > validOptions.rules.blurb.wordcount)
			$("#wordcount").addClass("overcount");
		else
			$("#wordcount").removeClass("overcount");
	}

	$(".count").show();
	$("#blurb").on("input", check);
	$("#blurb").on("keyup", check);
}

function initEndDatetime() {
	var end_panel = $("#end");
	var time2 = $("#time2");
	var date2 = $("#date2");
	var update_panel = function() {
		if ($("#set_end").prop('checked')) {
			// Use a default value if showing
			if (!date2.val() || date2.val() == "")
				date2.val($("#date1").val());

			time2.prop('disabled', false);
			date2.prop('disabled', false);
			end_panel.show();
		} else {
			time2.prop('disabled', true);
			date2.prop('disabled', true);
			end_panel.hide();
		}
	};

	$("#set_end").change(update_panel);
	if (time2.val() || date2.val()) {
		$("#set_end").prop('checked', true);
	}
	update_panel();
}

function initCostLogic() {
	function update_disabled() {
		if ($("#free").prop('checked') == true) {
			$("#cost").prop('disabled', true);
			$("#cost").valid();
		} else {
			$("#cost").prop('disabled', false);
		}
	};

	update_disabled();
	$("#free").change(update_disabled);
	$("#costbutton").change(update_disabled);

	// Set up an initial value
	if ($('input[name="free"]:checked').length == 0) {
		$("#free").prop('checked', true);
	}
}

initWidgets();
initFormValidation();
initWordCount();
initEndDatetime();
initCostLogic();

});
</script>
