<h3>{{@formatdate(@day)}}</h3>

<F3:repeat group="{{@events}}" value="{{@event}}">

<div class="event">
<div>
<div class="time">
<span class="n-{{(@event->datetime->format("i") == "00") ? "l" : "s"}}">{{
(@event->datetime->format("i") == "00") ?
	@event->datetime->format("g") :
	@event->datetime->format("g:i")}}</span><span class="ampm">{{@event->datetime->format("a")}}</span>
</div>

<div class="what">
<h4 id="{{@event->id}}"><F3:check if="{{@event->film}}"><img src="{{@baseurl}}/images/film.png" alt="Film showing: "></F3:check> {{@event->title}}</h4>
<p class="where">{{@event->location}}</p>
</div>
</div>

<p class="desc">
<F3:check if="{{@event->free}}"><i>Free.</i> </F3:check>
{{@event->blurb}}
<F3:check if="{{@event->url}}">
	<F3:check if="{{@facebook(@event->url)}}">
	<F3:true><a href="{{@event->url}}" class="fb">Fb</a></F3:true>
	<F3:false> ... <a href="{{@event->url}}">more info</a></F3:false>
	</F3:check>
</F3:check>
</p>

</div>

</F3:repeat>
