<!DOCTYPE html>
<title>{{@appname}} :: {{@nav.title}}</title>
<F3:include href="_stylesheets.html" />
<F3:include href="_header.html" />

<section>

	<h2 style="line-height: 36px; float: left;">{{@nav.title}}</h2>
	<ul class="sublinks">
		<li><a href="/event/add"><i class="fa fa-plus"></i> Add event</a>
		<li><a href="?listing"><i class="fa fa-list-ol"></i> View as listing</a>
	</ul>

	<!-- Nav section -->
	<include href="_events_nav.html" />

	<!-- Calendar -->
	<div id="calendar" style="background:white;"></div>

	<!-- Nav section -->
	<include href="_events_nav.html" />

</section>

<F3:include href="_footer.html" />

<!-- Calender JavaScript -->
<style>@import "/css/fullcalendar.css";</style>
<script>
$(document).ready(function() {
	$('#calendar').fullCalendar({
<check if="{{isset(@nav.allow_nav)}}">
<true>
		header: {
			left: 'prev',
			center: '',
			right: 'next',
		},
</true>
<false>
		header: false,
</false>
</check>

<check if="{{isset(@nav.date)}}">
		month: {{@nav.date.month}},
		year: {{@nav.date.year}},
</check>
		timeFormat: 'h(:mm)tt',
		firstDay: 1,

		events: {{@json | raw}},

		allDayDefault: false,
		weekMode: "liquid",
		eventBackgroundColor: "#eee",
		eventBorderColor: "#ccc",
		eventTextColor: "black",

		eventClick: function(event, jsevent, view) {
			echo.show_event(event.id, jsevent);
			return false;
		},
	});
});
</script>
