<div class="event">

<span class="time">
	<check if="!{{@event->multiday()}}">{{@event->startdt->format("H:i")}}</check>
</span>

<div class="block">
<h4 class="title">
	<F3:check if="{{@event->film}}"><img src="{{@baseurl}}/img/film.png" alt="Film showing"></F3:check>

	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"><a href="{{@event->url}}"></F3:check>
	{{@event->title}}
	<F3:check if="{{@event->url}}&&{{!@facebook(@event->url)}}"></a></F3:check>

	<F3:check if="{{@event->url}}&&{{@facebook(@event->url)}}">
	<a href="{{@event->url}}" class="fb">Facebook</a>
	</F3:check>
</h4>

<span class="location">
<F3:check if="{{@event->location->in_db}}">
<true><a href="{{@baseurl}}/venue/{{@event->location->id}}">{{@event->location->short()}}</a></true>
<false>{{@event->location->short()}}</false>
</F3:check>
</span>

<check if="{{@event->multiday()}}">
	<p class="multi">Starts <b>{{@event->startdt->format("l j F")}}</b> and ends <b>{{@event->enddt->format("l j F")}}</b>.</p>
</check>

<p class="description">
<F3:check if="{{@event->cost}}">
<F3:false>Free event. </F3:false>
<F3:true><b>Costs {{@event->cost}}.</b> </F3:true>
</F3:check>
{{@event->blurb}}
</p>

<F3:include href="event_admin.html" />

</div>
</div>