<!DOCTYPE html>
<title>{{@appname}} :: {{@nav.title}}</title>
<F3:include href="_stylesheets.html" />
<F3:include href="_header.html" />

<body class='thin'>
<section id="eventlist">
<div style="max-width: 48em; margin: 0 auto;">

<h2 style="line-height: 36px; float: left;">{{@nav.title}}</h2>
<ul class="sublinks">
    <li><a href="{{@baseurl}}/event/add"><i class="fa fa-plus"></i> Add event</a>
    <li><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fechomanchester.net%2Ficalendar" target="_blank"><i class="fa fa-calendar-o"></i> Subscribe on Google</a>
</ul>

<check if="isset({{@nav.prev}}) || isset({{@nav.next}})">
	<div style="clear: both;">
		<check if="isset({{@nav.prev}})">
			<a class="previous" href="{{@baseurl}}{{@nav.prev.url}}"><i class="fa fa-angle-left"></i>{{@nav.prev.title}}</a>
		</check>

		<check if="isset({{@nav.next}})">
			<a class="forward" href="{{@baseurl}}{{@nav.next.url}}"><i class="fa fa-angle-right"></i>{{@nav.next.title}}</a>
		</check>
	</div>
</check>

<div style="clear: both; margin-bottom: 1em;"></div>

<check if="count({{@events}}) == 0"><p style="text-align: center;"><b>No events yet.</b></check>
<F3:repeat group="{{@group_events(FALSE)}}" key="{{@day}}" value="{{@events}}">
	<h3 class="date">{{@formatdate(@day, FALSE)}}</h3>

	<F3:repeat group="{{@events}}" value="{{@event}}">
		<F3:include href="_event.html" />
	</F3:repeat>
</F3:repeat>

<!-- XXX this is a repeat of the section above -->
<check if="count({{@events}}) > 0 && (isset({{@nav.prev}}) || isset({{@nav.next}}))">
	<div style="margin: 1em">
		<check if="isset({{@nav.prev}})">
			<a href="{{@baseurl}}{{@nav.prev.url}}">
			<div class="previous"><i class="fa fa-angle-left"></i>{{@nav.prev.title}}</div>
			</a>
		</check>

		<check if="isset({{@nav.next}})">
			<a href="{{@baseurl}}{{@nav.next.url}}">
			<div class="forward"><i class="fa fa-angle-right"></i>{{@nav.next.title}}</div>
			</a>
		</check>
	</div>
</check>

</div>
</section>

<F3:include href="_footer.html" />