<h3>{{@day}}</h3>

<F3:repeat group="{{@events}}" value="{{@event}}">

<div class="event">
<div class="time">
<span class="n-{{(@event->datetime->format("i") == "00") ? "l" : "s"}}">{{
(@event->datetime->format("i") == "00") ?
	@event->datetime->format("g") :
	@event->datetime->format("g:i")}}</span>
<span class="ampm">{{@event->datetime->format("a")}}</span>
</div>

<div class="what">
<h4 id="{{@event->id}}">{{@event->title}}</h4>
<p class="where">{{@event->location}}</p>
</div>

<p class="desc">{{* <F3:check if="{{@event.facebook_id}}">
<a href="http://facebook.com/events/{{@event.facebook_id}}"><img src="fb.png" alt="Fb"></a>
</F3:check>*}}
{{@event->blurb}}
{{* <F3:check if="{{@event->url}}">
<a href="{{@event->url}}">more info</a>
</F3:check> *}}</p>

</div>

</F3:repeat>
