<!DOCTYPE html>
<title>{{@title}}</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);

* { font-family: 'Source Sans Pro';  font-size: 16px; line-height: 1.25; }

h1, h2, h3, h4, h5, h6 { font-family: 'Enriqueta'; }
h1 { font-size: 140%; }

.event { margin: 1em 0; }
.event h2 { font-size: 110%; margin: 0; }
.event p { margin: 0; }
.event p.wherewhen { font-style: italic; }
</style>

<h1>Echo</h1>
