<!DOCTYPE html>
<title>{{@appname}} :: News &amp; Events</title>
<include href="_stylesheets.html" />

<body id="index">
<include href="_header.html" />

<section id="news">
<h2>NEWS</h2>
<p class="sublinks"><a href="{{@baseurl}}/about#addnews">(want yours here?)</a>

<repeat group="{{@posts}}" value="{{@post}}">
<include href="post.html" />
</repeat>
</section>

<section id="events">
<h2>EVENTS</h2>
<check if="!{{@readonly}}">
<p class="sublinks"><a href="{{@baseurl}}/event/add">(+ add yours here)</a>
</check>

<repeat group="{{@group_events()}}" key="{{@day}}" value="{{@events}}">
<include href="event_week.html" />
</repeat>

<p><a href="events">more events this month</a>
<p><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fechomanchester.net%2Ficalendar" target="_blank">add Echo to your Google Calendar</a>
</section>

<include href="_footer.html" />
