<!DOCTYPE html>
<title>{{@appname}} :: Choose a new password</title>
<F3:include href="_stylesheets.html" />

<body class="thin">
<F3:include href="_header.html" />

<section>
<h2 style="padding-bottom: 10px">Choose a new password</h2>

<p>Resetting password for <b>{{@email}}</b>.</p>

<form method="POST" action="?">

<fieldset>
<label class="left" for="name">Password:</label>
<input class="right" type="password" name="password">
</fieldset>

<fieldset>
<label class="left" for="name">Confirm password:</label>
<input class="right" type="password" name="password2">
</fieldset>

<input type="submit" value="Reset password">
</form>
</section>

<F3:include href="_footer.html" />
