<!DOCTYPE html>
<title>{{@appname}} :: Edit post</title>
<F3:include href="_stylesheets.html" />
<link rel="stylesheet" type="text/css" href="{{@baseurl}}/css/editform.css">

<body class="thin">
<F3:include href="_header.html" />

<section id="venue_add">
<h2>Edit post</h2>

<F3:check if="{{isset(@messages)}}">
<ul>
<F3:repeat group="{{@messages}}" value="{{@message}}">
	<li>{{@message}}
</F3:repeat>
</ul>
</F3:check>

<form method="POST" action="?">

<input type="hidden" name="id" value="{{@id}}">

<fieldset>
<label class="left" for="title">Title:</label>
<input class="right" type="text" name="title" id="title" {{@value(@title)}}>
</fieldset>

<fieldset>
<label class="left" for="summary">Summary:</label>
<textarea class="right" name="summary" id="summary" rows="8">{{@summary}}</textarea>
</fieldset>

<input type="submit" value="Alter post">
</form>
</section>

<F3:include href="_footer.html" />
