<!DOCTYPE html>
<title>{{@appname}} :: Add a venue</title>
<F3:include href="_stylesheets.html" />

<body class="thin">
<F3:include href="_header.html" />

<section id="venue_add">
<h2>Add a venue</h2>

<F3:check if="{{isset(@messages)}}">
<ul>
<F3:repeat group="{{@messages}}" value="{{@message}}">
	<li>{{@message}}
</F3:repeat>
</ul>
</F3:check>

<form method="POST" action="?">

<fieldset>
<label class="left" for="name">Venue name:</label>
<input class="right" type="text" name="name" id="name" {{isset(@name)?@value(@name):NULL}}>
</fieldset>

<fieldset>
<label class="left" for="address">Address:</label>
<textarea class="right" name="address" id="address" rows="3">{{isset(@address)?@address:NULL}}</textarea>
</fieldset>

<fieldset>
<label class="left" for="postcode">Postcode:</label>
<input class="right" type="text" name="postcode" id="postcode" {{isset(@postcode)?@value(@postcode):NULL}}>
</fieldset>

<fieldset>
<label class="left" for="info">More info on the venue:</label>
<textarea class="right" name="info" id="info" rows="8">{{isset(@info)?@info:NULL}}</textarea>
</fieldset>

<input type="submit" value="Add venue">
</form>
</section>

<F3:include href="_footer.html" />
